
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


label[for="Note"]
{
    display:none;
}

label[for="PrefixNameID"]
{
    display:none;
}
label[for="FirstNameEn"]
{
    display:none;
}
label[for="LastNameEn"]
{
    display:none;
}

label[for="Birthday"]
{
    display:none;
}

label[for="Sex"]
{
    display:none;
}

label[for="CourseID"]
{
    display:none;
}


select option[disabled] {
    display: none;
}